html{
    scroll-behavior: smooth;
}

.section1 {
    background-image: url(../images/a5fcbde5258262f42e8d47435151dd5e6c7fc8ba.png);
    background-size: cover;
}

/* section 2*/

.product-overlay {
    opacity: 0;
}

.product-card:hover .product-overlay {
    opacity:1;
}

/* section 3*/

.service-card-img-sm {
    width: 100%;
    height: 200px;
}

.service-card-img-lg {
    width: 100%;
    height: 416px; 
}


.hover-overlay {
    opacity: 0;
}

.service-card:hover .hover-overlay {
    opacity: 1;
}

.service-card:hover .default-title {
    opacity: 0;
}

/* section 4*/

.team-img {
    width: 100%;
    height: 260px;
}


.social-icons a:hover {
    color: #475467;
}

/* section 5*/

.blog-video-img {
    width: 100%;
    height: 400px;
}

.play-btn {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid white;
    color: white;
}

.play-btn:hover {
    background-color: rgba(255, 255, 255, 0.35);
    color: white;
}

/* FOOTER*/

.bg-custom-card {
    background-color: #1d2939;
}

.footer-link {
    color: #98a2b3;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.social-link {
    color: #98a2b3;
}

.social-link:hover {
    color: white;
}



