* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

section {
    background: rgb(186, 137, 231 );
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 90%;
    margin:  auto; 
    display: flex; 
    background-color: #ffffff;
    border-radius: 12px;
    
    
}

.card {
    background-color: #00a8cc;
    width: 50%;
    padding: 100px 35px; 
    text-align: center; 
    
}

.card h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.card p {
    color: #ffffff;
}

.form {
    background-color: #ffffff;
    width: 50%;
    padding: 40px 40px;
    border-radius: 5%;
}

.form h1 {
    color: #000000;
    text-align: center;
    font-size: 28px;
    margin-bottom: 5px;
}

.form label {
    display: block;
    font-size: 11px;
    color: #555555;
    text-align: left;
    margin-bottom: 15px;
}

.inputs {
    margin-bottom: 12px;
}

.inputs input, 
.inputs textarea {
    width: 100%;
    background-color: #eeeeee;
    border: none;
    padding: 11px 14px;
    font-size: 13px;
    border-radius: 2px;
    color: #333333;
}

.inputs textarea {
    height: 100px;
}

.inputs input::placeholder,
.inputs textarea::placeholder {
    color: #888888;
}

.form input[type="submit"] {
    display: block;
    margin: 20px auto 0; 
    background-color: #00a8cc;
    color: #ffffff;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 12px;
}
